<%layout("/layouts/boilerplate")-%>
<body>
    <h2>details of : <%=details.title %></h2>
    <p><%=details.description%></p>
    <p>price: &#8377;<%=details.price.toLocaleString("en-IN")%></p>
    <p>location:<%=details.location%></p>
    <form action="/listings/edit/<%=details.id%>">
        <button>edit</button>
    </form>
    <form action="/listings/<%=details.id%>?_method=delete" method="post">
        <button>delete</button>
    </form>
</body>
