<%layout("/layouts/boilerplate")-%>
<body>
    <!-- <h2>details of : <%=details.title %></h2>
    <p><%=details.description%></p>
    <p>price: &#8377;<%=details.price.toLocaleString("en-IN")%></p>
    <p>location:<%=details.location%></p> -->
    <div class="row ">
        <div class="col-8 offset-2">
        <div class="card mb-3 ">
        <img src="<%=details.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=details.title%></h5>
          <p class="card-text"><%=details.description %></p>
          <p class="card-text"><small class="text-body-secondary"><%=details.price %></small></p>
        </div>
      </div>
      </div>
      <div class="row">
            <div class="col-6 offset-3">
                <div class="btn">
                    <form action="/listings/edit/<%=details.id%>">
                   <button class="btn btn-primary">edit</button>
               </form>
               <form action="/listings/<%=details.id%>?_method=delete" method="post">
                   <button  class="btn btn-warning">delete</button>
               </form>
                 </div>
            </div>
      
     
   
    </div>
</div>
    
</body>
